<div x-data="groupSizeInput">
  <div class="flex gap-4 items-center">
    <label for="groupSize" class="text-gray-700">Taille des groupes:</label>
    <input
      name="groupSize"
      id="groupSize"
      type="number"
      x-model="size"
      min="1"
      class="w-20 p-2 border rounded focus:ring-2 focus:ring-blue-500"
    />
    <button
      @click="createGroups"
      class="px-4 py-2 bg-purple-500 text-black rounded hover:bg-purple-600"
    >
      Créer les groupes
    </button>
  </div>
</div>
